<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIT Notes Portal</title>
    <link rel="stylesheet" href="/css/Coursepage.css">
</head>
<body>
    <header>
        <h1>VIT Notes Portal</h1>
        <img id="img1" src="vitb.jpg" alt="Vit Logo">
        <img id="img2" src="/Images.html/symbol.jpg" alt="Vit Logo">
    </header>
        <main>
            <div class="content">
                <div class="topics">
                    <a href="/Course Table.html/30. Programme Core.html">Programme Core</a>
                    <a href="/Course Table.html/31. Programme Elective.html">Programme Elective</a>
                    <a href="/Course Table.html/32. NS.html">Natural Science, Humanities and Management</a>
                    <a href="#">Open Elective</a>
                    <a href="#">Bridge Course</a>
                </div>
            </div>
        </main>
    <footer>
        <div class="container">
            <p>&copy; 2023 VITB Notes Portal</p>
        </div>
    </footer>
</body>
</html>
