<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width= 600px, initial-scale=1" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Register</title>
    <link rel="icon" type="image/jpg" href="favicon.jpg">
    <link rel="stylesheet" href="/css/logreg1.css">
</head>
<body>
    
    <a href="/login" style="text-decoration: none;">
        <div class="box1"><h1>LOGIN</h1></div>
    </a>
    <a href="/registration" style="text-decoration: none;" >
        <div id="box1"><h1>REGISTER</h1></div>
    </a>
</body>
</html>