<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VITB Notes Portal Login</title>
    <link rel="icon" type="image/png" href="/views/vitfavicon.png">
    <link rel="stylesheet" href="/css/login1.css">
</head>
<body>
  
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="signup">
            <label id="label1" for="chk" aria-hidden="true">LOGIN AS</label>
            <a href="/Studentlogin" style="text-decoration: none;"><button>STUDENT</button></a>
            <a href="/Teacherlogin" style="text-decoration: none;"><button id="Log1">TEACHER</button></a>
        </div>
    </div>
</body>
</html>

    {{!-- <a href="/login" style="text-decoration: none;">
        <div class="box1"><h1>LOGIN</h1></div>
    </a>
    <a href="/registration" style="text-decoration: none;" >
        <div id="box1"><h1>REGISTER</h1></div>
    </a>

    <a href="/Studentlogin" style="text-decoration: none;">
        <button>STUDENT</button>
    </a> --}}