<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VITB Notes Portal</title>
    <link rel="icon" type="image/png" href="/pngviews/vitfavicon.">
    <link rel="stylesheet" href="/css/StudentRegistration.css">
</head>
<body>
  
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form action = "/StudentRegistration" method="POST">
                <label for="chk" aria-hidden="true">REGISTER</label>
                <input type="email" name="email" placeholder="email" required="" id="odd">
                <input type="RegistrationNumber" name="RegistrationNumber" placeholder="Reg. No." pattern="[0-9]{2}[A-Z]{3}[0-9]{5}" required="" id="even">
                <input type="name" name="name" placeholder="Full name" id="odd">
                <input type="Branch" name="branch" placeholder="Branch" required="" id="even">
                <input type="gender" name="gender" placeholder="Gender" id="odd">
                <input type="date" name="DOB" placeholder="DOB" required="" id="even">
                <input type="password" name="pswd" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="" id="odd">
                <input type="password" name="confirmpswd" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="" id="even">
                <a href="Studentlogin.hbs" style="text-decoration: none">
                <button>Register</button>
                </a>
            </form>
        </div>
    </div>
</body>
</html>