<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VITB Notes Portal</title>
    <link rel="icon" type="image/png" href="vditfavicon.png">
    <link rel="stylesheet" href="/css/STlogin.css">
</head>
<body>
  
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="login">
            <form action = "/Teacherlogin" method="POST">
                <label for="chk" aria-hidden="true">TEACHER</label>
                <input type="Registration Number" name="RegistrationNumber" placeholder="Reg. No." pattern="[0-9]{5}" required="">
                <input type="password" name="pswd" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required="">
                <a href="TeacherHomepage.hbs" style="text-decoration: none"></a>
                <button>Login</button>
            </form>
        </div>

</body>
</html>